{% extends "auctions/layout.html" %}

{% block links %}
    {% if owner and not listing.closed %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'close' listing.id %}">Close Listing</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    {% if not listing.closed %}
    <div class="container">
        <h1>Listing: {{ listing.name }}</h1>
        <div class="row" style="margin-top: 30px;">
            <div class="col" id="imgborder">
                <img src="{{ listing.imageurl }}" width="500" height="500">
            </div>
            <div class="col" id="listingInfo">
                <h5>Price</h5> 
                ${{ listing.price }}<br><br>
                <h5>Seller</h5>  
                {{ listing.owner.username }}<br><br>
                <h5>Category</h5> 
                {{ listing.category }}<br><br>
                <h5>Details</h5> 
                {{ listing.extra_detail }}<br><br>
            </div>
        </div>
        {% if user.is_authenticated %}
        <hr>
        <div class="row" style="margin-top: 30px;">
            <div class="col">
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    {% if watchlisted %}
                        <button name="watchlisted" type="submit" value="False">Added to watchlist</button>
                    {% else %}
                        <button name="watchlisted" type="submit" value="True">Add to Watchlist</button>
                    {% endif %}
                </form>
            </div>
            <div class="col" style="margin-left: 60px;">
                <form action="{% url 'bid' listing.id %}" method="POST">
                    {% csrf_token %}
                    $<input type="number" step=".01" name="bidPrice" style="width: 150px;">
                    <button type="submit">Place Bid</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row" style="margin-top: 50px;">
            <div class="col">
                <h2>Comments</h2>
            </div>
        </div>
        {% for comment in comments %}
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    User- {{ comment.commenter.username }}<br>
                    <textarea readonly style="width: 700px;">{{comment.comment}}</textarea>
                </div>
            </div>
        {% empty %}
            <div class="row" style="margin-top: 30px;">
                <div class="col">
                    <h6>No comments yet</h6>
                </div>
            </div>
        {% endfor %}
        <div class="row" style="margin-top: 60px;">
            <div class="col">
                <form action="{% url 'comment' listing.id %}" method="POST">
                    {% csrf_token %}
                    <h4>Add comment</h4>
                    <textarea name="comment" style="width: 700px; height:100px;"></textarea><br>
                    <button type="submit">Submit</button><br><br>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    {% else %}
        {% if not owner and user == listing.winner %}
            <h1>Congratulations. You won the bid for {{ listing.name }} at ${{ listing.price }}</h1>
        {% else %}
            <h1>Auction Closed</h1>
        {% endif %}
    {% endif %}
{% endblock %}